<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top justify-content-between">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Bootstrap Toggle Button -->

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/home">
      <i class="fas fa-university"> EasyShare</i>
    </a>
    <div class="d-flex align-items-center gap-3"><span>Hi, {{this.res.firstname}}</span> 
    <span *ngIf="this.res.profilepic!=''">
      <img src="{{this.service.backendURL}}/uploads/{{this.res.profilepic}}" alt="pic" width="50px" height="50px" style="border-radius: 50%;">
    </span>
  </div>
    <div class="d-lg-none">
      <span class=" navbar-toggler-icon" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
      </span>
    </div>


  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white shadow">
  <div class="position-sticky">
    
    <div class="list-group list-group-flush mx-3 mt-4">
      <span *ngIf="this.res.profilepic!=''" class="text-center">
        <img src="{{this.service.backendURL}}/uploads/{{this.res.profilepic}}" alt="pic" width="150px" height="150px" style="border-radius: 50%;">
      </span>
      <a routerLink="/dashboard" class="list-group-item list-group-item-action py-2 pt-3 ripple" aria-current="true">
        <i class="fas fa-home fa-fw me-3"></i><span>Home</span>
      </a>
      <a routerLink="/profile" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-users fa-fw me-3"></i><span>Profile</span>
      </a>
      <a routerLink="/transfer" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-exchange fa-fw me-3"></i><span>Transfer</span>
      </a>
      <a routerLink="/history" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas  fa-clock-rotate-left fa-fw me-3"></i><span>History</span>
      </a>
      <!-- Dropdown for Settings -->
      <li class="list-group-item list-group-item-action py-2 ripple dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-cogs fa-fw me-3"></i><span>Settings</span>
        </a>
        <ul class="dropdown-menu">
          <li> <a routerLink="/changepin" class="dropdown-item">
            <i class="fas fa-lock fa-fw"></i> Pin & Password</a></li>
            <li (click)="logout()"><a class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
      </li>
    </div>
  </div>

</nav>
<!-- Sidebar -->

<div class="offcanvas offcanvas-start w-75" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">
    <div class="list-group list-group-flush mx-3">
      <span *ngIf="this.res.profilepic!=''" class="text-center">
        <img src="{{this.service.backendURL}}/uploads/{{this.res.profilepic}}"  width="150px" height="150px" alt="pic"  style="border-radius: 50%;">
      </span>
      <a routerLink="/dashboard" class="list-group-item list-group-item-action py-2 ripple pt-4" aria-current="true">
        <i class="fas fa-home fa-fw me-3"></i><span>Home</span>
      </a>
      <a routerLink="/profile" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-users fa-fw me-3"></i><span>Profile</span>
      </a>
      <a routerLink="/transfer" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-exchange fa-fw me-3"></i><span>Transfer</span>
      </a>
     
      <a routerLink="/history" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas  fa-clock-rotate-left fa-fw me-3"></i><span>History</span>
      </a>
      <!-- Dropdown for Settings -->
      <li class="list-group-item list-group-item-action py-2 ripple dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-cogs fa-fw me-3"></i><span>Settings</span>
        </a>
        <ul class="dropdown-menu">
          <li> <a routerLink="/changepin" class="dropdown-item">
            <i class="fas fa-lock fa-fw"></i> Pin & Password</a></li>
            <li (click)="logout()"><a class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
      </li>
    </div>
  </div>
</div>
