<app-navbar></app-navbar>

<div class="ms-md-5 mt-5">
    <div class="card col-md-8 m-auto"  style="margin-top: 0.9in !important;">
        <div class="card-header">
            <h4 class="card-title">Recent Transactions</h4>
        </div>
        <div class="card-body scrollable-table">
            <table class="table table-bordered">
                <thead *ngIf="this.res.status==true">
                  <tr>
                    <th>Date</th>
                    <th>Service</th>
                    <th>Type</th>
                    <th>Memo</th>
                    <th>Amount</th>
                    <th>Pre_balance</th>
                    <th>Post_balance</th>
                    <th>Status</th>
=                  </tr>
                </thead>
                <tbody *ngIf="this.res.status==true">
                  <tr *ngFor="let item of res.data">
                    <td>{{item.Date}}</td>
                    <td>{{item.Service}}</td>
                    <td>{{item.Type}}</td>
                    <td>{{item.Memo}}</td>
                    <td>{{item.Amount}}</td>
                    <td>{{item.Pre_balance}}</td>
                    <td>{{item.Post_balance}}</td>
                    <td style="color: green; height: 10px;">{{item.Status}}</td>
                   
                  </tr>
                </tbody>
                <tbody *ngIf="this.res.status==false">
                   <div class="alert alert-info text-center mt-4">No History</div>
                </tbody>
              </table>
        </div>
    </div>
</div>