.scrollable-table {
    max-height: 600px;
    overflow-y: auto;
}

.text-green {
    color: green;
    text-align: center;
  }
.text-red {
    color: red;
    text-align: center;
  }
  .bg-green {
    background-color: green;
    color: white;
    text-align: center;
  }